
@{
    ViewBag.Title = "Index";
}

<h2>Title</h2>
<div>
    @foreach (var post in Model)
    {
        <div>
            <h4>@post.Name - @post.Posted</h4>
            <p>@post.Text</p>
        </div>
    }
</div>
<div>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="container">

            <h4>Topics</h4>
            <div class="col-lg-12 col-sm-12">
                <hr />
            
                <div class="clearfix-post-header">
                    <div>
                        <p></p>
                        <ul>
                            <template>
                            </template>
                        </ul>
                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                        <div class="clearfix-post-footer">
                            <button class="btn btn-primary">Reply</button>
                            <button class="btn btn-Danger">Discard</button>
                            <button class="btn btn-default">......</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
