@model List<Web_Forum.Models.PostViewModel>
@{
    ViewBag.Title = "Index";
}

@{ 
    var options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "CreatePost",
        InsertionMode = InsertionMode.Replace
    };
}

<h2>Title</h2>
<div id="postList">
    @foreach (var post in Model)
    {
        <div>
            <h4>@post.Name - @post.Posted</h4>
            <p>@post.Text</p>
        </div>
    }
    <h3>@Ajax.ActionLink("Reply", "AddPost", options)</h3>
    <div id="createPost"></div>
</div>
<div>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <input type="text" class="form-control"/>
                    <div class="col-lg-3 col col-md-12">
                        @*<select class="form-control"></select>*@
                        <div class="btn-toolbar">
                            <button type="button" class="btn-primary">Submit</button>
                            <button type="button" class="btn-danger">Discard</button>
                        </div>
                        <div class="row">
                        <textarea class=""></textarea>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
