@model List<Web_Forum.Models.PostViewModel>
@{
//ViewBag.Title = "Index";
}

@{
    var options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "createPost",
        InsertionMode = InsertionMode.Replace
    };
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="postList">


        <h2 class="text-center">@ViewBag.threadTitle</h2>
        <ul>
            <li class="list-group-item">
                @Html.Partial("Posts", Model)
                <h3>@Ajax.ActionLink("Reply", "AddPost", new { id = Model.First().ThreadId }, options, new { @class="btn btn-default"})</h3>
                <button class="btn btn-success"  onclick="AddLike(@Model.First().ThreadId)"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </li>
        </ul>


    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><div style="margin:0 auto 0 auto" id="createPost"></div></div>
    <div class="col-md-4">
        
    </div>
   
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>
