@model List<Web_Forum.Models.PostViewModel>
@{
//ViewBag.Title = "Index";
}

@{ 
    var options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "createPost",
        InsertionMode = InsertionMode.Replace
    };
}


<div id="postList">
    <h2>@ViewBag.threadTitle</h2>
    @foreach (var post in Model.OrderBy(x => x.Posted))
    {
        <div id="postThreads">
            <h4>@post.Name - @post.Posted</h4>
            <p>@post.Text</p>
        </div>
    }
    <h3>@Ajax.ActionLink("Reply", "AddPost", new { id = Model.First().ThreadId }, options)</h3>
</div>
<div id="createPost"></div>

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>
