<!DOCTYPE html>

@{
    var loginOptions = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "login",
        InsertionMode = InsertionMode.Replace
    };

    var logoutOptions = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "layoutIndex",
        InsertionMode = InsertionMode.Replace
    };
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EC Web Forum </title>

    <link href="~/Content/HomeStyle.css" rel="stylesheet" />
    <link href="~/Content/loader.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
   
        
</head>
<body>
    <div id="layoutIndex">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("EC Web Forum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @using (Html.BeginForm("Results", "Search", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                    {
                        <div class="form-group">
                            <input type="text" name="search" class="form-control" placeholder="Search" />
                        </div>
                            @*<input id="btnsearch" type="submit" value="Search" class="glyphicon glyphicon-search" />*@
                    }
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Ajax.ActionLink(" Log out", "Logout", "Account", null, logoutOptions, new {@class = "glyphicon glyphicon-log-out"})
                            }
                            else
                            {
                                <!--<a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>-->
                                @Ajax.ActionLink(" Login", "Login", "Account", null, loginOptions, new {@class = "glyphicon glyphicon-log-in"})
                            }
                        </li>
                    </ul>
                    <div id="login"></div>
                </div>
            </div>

        </div>
        @*<div>
            <ul class="pagination hidden-xs">
                <li class="previous pull-left disabled"></li>
                <li class=""></li>
                <li></li>
                <li></li>
                <li class="next pull-right"></li>

            </ul>
            <ul>
                
            </ul>
        </div>*@
        <div class="container body-content">
            @RenderBody()
            <hr />
           
                <div class="panel-footer">&copy; @DateTime.Now.Year - EC Web Forum</div>
                
            </div>
  
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/ThreadScript.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/loader.js"></script>
@RenderSection("scripts", required: false)</div>
</body>
</html>
