@model List<Web_Forum.Models.PostViewModel>

<div>
    <ul>
        @foreach (var post in Model.OrderBy(x => x.Posted))
        {
            <li class="list-group-item" id="postList">
                <div id="postThreads" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@post.Name - @post.Posted</h4>
                    </div>
                    <div class="panel-body">
                        <p>@post.Text</p>
                    </div>
                    @Ajax.ActionLink(" ", "AddPostLike", new { Id = post.Id }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "changingPostLikesValue", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success glyphicon glyphicon-plus-sign" })
                    <span id="changingPostLikesValue"><b>Likes:</b>  @post.Likes </span>

                </div>
            </li>
        }
    </ul>
</div>